[Unit]
Description=Set time via NTP
After=syslog.target network.target
Before=time-sync.target
Wants=time-sync.target
BindTo=ntpd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ntpdate-wrapper
RemainAfterExit=yes
